/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .personal-information {
    width: 60%;
    margin: 40px auto;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h1, h2 {
    margin-bottom: 10px;
    color: #2c3e50;
    text-align: center;
  }
  
  h1 {
    font-size: 28px;
    font-weight: bold;
  }
  
  h2 {
    font-size: 22px;
  }
  
  p {
    margin: auto;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
  }
  
  /* Personal Info Section */
  #personal-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  #personal-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #2c3e50;
    margin-bottom: 20px;
  }
  
  #personal-info h1 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  #personal-info h2 {
    font-weight: normal;
    color: #7f8c8d;
    margin-bottom: 20px;
  }
  
  /* Contact Details */
  .contact-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .contact-info div {
    width: 30%;
    font-size: 16px;
    color: #555;
  }
  
  /* Skills Section */
  .skills-section {
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 5px;
  }
  
  .skills-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .skills-section ul li {
    background-color: #3498db;
    color: rgb(255, 253, 253);
    padding: 8px;
    border-radius: 4px;
    margin: 5px 0;
    font-size: 14px;
  }
  
  /* Experience and Education Section */
  .experience, .education {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .experience h2, .education h2 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .experience-item, .education-item {
    margin-bottom: 20px;
  }
  
  .experience-item h3, .education-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .experience-item p, .education-item p {
    font-size: 16px;
    color: #7f8c8d;
  }
  
  /* Footer */
  footer {
    text-align: center;
    padding: 10px;
    background-color: #2c3e50;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
  }

  button {
    background-color: #1814eb;
    color: white;
    padding: 8px;
  }
  .exp-container {
    justify-content: center;
    align-items: center;   
    display: flex;
  }

  .container {
    justify-content: center;
    align-items: center;   
    display: flex;
    margin-bottom: 4px;
  }

  .edu-container {
    justify-content: center;
    align-items: center;   
    display: flex;
    margin-bottom: 4px;
  }
  
  